# Created by https://www.gitignore.io/api/libreoffice
# Edit at https://www.gitignore.io/?templates=libreoffice

### LibreOffice ###
# LibreOffice locks
.~lock.*#

# PDF #
*.pdf

# End of https://www.gitignore.io/api/libreoffice